
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #a585d0;
  background-color: #05093f;
}

h1, h2 {
  margin: 10px 0;
  font-family: inherit;
  color: inherit;
  text-rendering: optimizelegibility;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: -1px;
}

h2 {
  font-size: 15px;
  letter-spacing: 0;
}

#sidebar{
    display: inline-block;
    vertical-align: top;  
}

.gem{
    display: inline-block;
    width:48px;
    height:48px;
    margin:0;
    padding:0;
    font-family: inherit;    
}

#gem1{
    background-image:url("assets/niv1.png");
    background-repeat:no-repeat;
}
#gem2{
    background-image:url("assets/niv2.png");    
    background-repeat:no-repeat;
}

#scorezone{
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.3);;
  border-radius: 5px;
  font-family: inherit;
  color: #311069;
  background: #a58cd0;
  width: 200px;
  padding: 5px;
  margin: 0 auto;  
}

#score {
  font-family: inherit;
  font-size: 30px;
  letter-spacing: 0;  
  text-align: center; 
}

#main {
  margin: 0 auto;  
  width: 600px;
}

#game {
  display: inline-block;
  margin: 0 auto;  
  width: 350px;
}

#legend {
    display: inline-block;
    width: 33px;
    height: 387px;
    margin: 0;
    padding:0;
  background: url(assets/legend.png);
}

#divcanvas {
  display: inline-block;
  width:288px;
  height:432px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(255,255,255,0.9) url(assets/background.png);
  border-radius: 5px;
  margin: 0 auto;
}